.header {
  background-color: black;
  color: white;
}

.main {
  padding: 30px;
  background-color: #aaa;
}

.movie-item img {
  width: 100%;
}

.footer {
  background-color: black;
  color: white;
}